:root {
    --main-color: #000000;  /* White text */
    --secondary-color: #000000;  /* You can adjust this if needed */
    --background-color: #000000;  /* Dark background */
    --secondary-background-color: #282828;  /* Slightly lighter dark background for visual separation */
    --border-color: limegreen;  /* Border color for your image */
    --padding-standard: 20px;
}

/* Simple Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: antiquewhite;
    background-color: #000000;
    line-height: 1.5;
}

header {
    padding: var(--padding-standard);
    text-align: center;
}

header h1 {
    font-size: 2rem;
}

header img {
    border-radius: 50%;  /* Optional: for rounded avatar */
    border: 3px solid limegreen;
    width: 150px;  /* Adjust width as necessary */
    height: auto;  /* This will maintain the aspect ratio */
    margin-top: 10px;
}

header p {
    margin: 10px;
}

#cv {
    padding: 20px;
}

#cv h3 {
    font-size: 1.5rem;
}

#cv ul {
    list-style-type: none;
    margin-bottom: 20px;
}

#cv li {
    margin-bottom: 10px;
}

#projects {
    padding: 20px;
}

#projects a {
    color: var(--secondary-color);  /* CSS Variable for color */
    text-decoration: none;
}

#cv, #projects {
    padding: var(--padding-standard);
}



@media (max-width: 768px) {
    header, #cv, #projects, footer {
        padding: 10px;
    }
    header h1, #cv h3 {
        font-size: 1.5em;
    }
}

footer {
    text-align: center;
    padding: var(--padding-standard);
}
